body {
    font-family: 'Lobster', cursive; /* Change to a romantic cursive font */
    background-color: #ffdde1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    margin: 0;
    background: url('images/background.png') repeat;
    font-size: 35px;
    color: white;
    backdrop-filter: blur(5px); /* Adjust the blur value as needed */
}
.hh{
    -webkit-text-stroke: 1px #ff5353;
    font-weight:900;
}

.pp{
    -webkit-text-stroke: 1px #ff5353;

    font-size: 50px;
    font-weight: 800;
}

body

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 10);
}

.image{
    height: 320px;
}

.buttons button {
    background-color: #ff0000;
    color: #fff;
    padding: 10px 30px;
    border: 3px solid #ffffff;
    border-radius: 10px;
    margin: 10px;
    font-size: 26px;
    font-weight: bold; /* Added bold font-weight */
    cursor: pointer;
    position: relative;
    font-family: 'Lobster', cursive; /* Change to a romantic cursive font */
    transition: left 0.3s ease, top 0.3s ease; /* Add transition property */
}

.buttons button:hover {
    background-color: #5f0000;
    color: #ffdde1; /* Change text color on hover */
    border-color: 3px solid #ffffff; /* Change border color on hover to match text color */
}

.buttons{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.hidden-message {
    display: none;
    margin-top: 20px;
}

.move {
    animation: moveNoMessage 0.5s linear;
}

@keyframes moveNoMessage {
    0% { transform: translate(0, 0); }
    25% { transform: translate(30px, 30px); }
    50% { transform: translate(-20px, -20px); }
    75% { transform: translate(10px, 10px); }
    100% { transform: translate(0, 0); }
}
